.card-container{
    background-color: rgb(94, 94, 94);
    height: 300px;
    width: 200px;
    border: 4px solid rgb(54, 54, 54);
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.book-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}
.book-title:hover{
    text-overflow: unset;
    overflow: unset;
    z-index: 100;
}
.card-container:hover{
    transform: scale(1.05);    
}
.book-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-reading-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container img{
    width: auto;
    height: 70%;
    object-fit: contain;    
}
.favorite-button{
    width: 100%;
    height: 10%;
    border: 3px solid black;
    background-color: rgb(168, 168, 168);
    font-size: 12pt;
}